<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table table-bordered border-dark table-dark">
    <thead>
        <tr>
            <th class="bg-dark text-light p-3 border-dark">Id</th>
            <th class="bg-dark text-light p-3 border-dark">Brand Name</th>
            <th class="bg-dark text-light p-3 border-dark">Customer Name</th>
            <th class="bg-dark text-light p-3 border-dark">Rent Date</th>
            <th class="bg-dark text-light p-3 border-dark">Return Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rentalDetail of rentalDetails">
            <td class="bg-light text-dark p-3 border-dark">{{rentalDetail.id}}</td>
            <td class="bg-light text-dark p-3 border-dark">{{rentalDetail.brandName}}</td>
            <td class="bg-light text-dark p-3 border-dark">{{rentalDetail.customerName}}</td>
            <td class="bg-light text-dark p-3 border-dark">{{rentalDetail.rentDate}}</td>
            <td class="bg-light text-dark p-3 border-dark">{{rentalDetail.returnDate}}</td>
        </tr>
    </tbody>
</table>

