<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table table-bordered border-primary">
    <thead>
        <tr>
            <th class="text-bg-primary p-3">Car Id</th>
            <th class="text-bg-primary p-3">Brand Name</th>
            <th class="text-bg-primary p-3">Color Name</th>
            <th class="text-bg-primary p-3">Daily Price</th>
            <th class="text-bg-primary p-3">Description</th>
        </tr>
    </thead>
    <tr *ngFor="let carDetail of carDetails">
        <td class="text-bg-light p-3">{{carDetail.carId}}</td>
        <td class="text-bg-light p-3">{{carDetail.brandName}}</td>
        <td class="text-bg-light p-3">{{carDetail.colorName}}</td>
        <td class="text-bg-light p-3">{{carDetail.dailyPrice}}</td>
        <td class="text-bg-light p-3">{{carDetail.description}}</td>
    </tr>
</table>